html{
    font-size:small;
    text-align: center;
    color: black;
    background-color: rgb(250, 247, 247);
    margin: 1rem;
    padding: 1rem;
}
body{
    margin: 2rem;
    padding: 2rem;
    background-color: aqua;
}
.header{
    font-size: 2pc;
    font-style:oblique;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
}
.h2{
    color: black;
    font-size: 1rem;
}
main{
    font-size: 1rem;
    color:black;
    margin: 1rem;
    
}
input{
    border-radius: 1rem;
    text-align: start;
    padding: 3px;
    border-style: none;
}
label{
    text-align: left;
}
input:invalid{
    border: 1px solid red;
}
.gender{
    color: blue;
    background-color: white;
}
fieldset{
    text-align: start;
}
button:hover{
    background-color:greenyellow;
    color: red;
    transition: 1s;
    cursor: pointer;
    border-radius: 2rem;
}
footer{
    padding: 1pc;
    margin: 1pc;
    color:white;
}